@model Publicacao

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/perfil.css">
</head>

    <main>
        <!--Início da Section PERFIL -->
        <section class="perfil">
            <div class="content display-jc-center">
                <div class="dados-perfil">
                @foreach (Usuario item in ViewBag.Usuario)
                {
                    
                
                    <div class="foto">
                        <img src="/img/@ViewBag.Foto" alt="Imagem de perfil do usuário">
                    </div>

                    <div class="dados">
                        <h1>@item.Username</h1>

                        <div class="estatisticas">
                            <a href="#">@ViewBag.NumeroDePublicacoes publicações</a>
                            <a href="#">1 seguindo</a>
                            <a href="#">1 seguidores</a>
                        </div>

                        <div class="nome-sair">
                            <h2>@item.Nome</h2>
                            
                            <a asp-controller="Editar" asp-action="Index">Editar Perfil</a>
                            <a asp-area="Link para deslogar o usuário" asp-controller="Perfil" asp-action="Logout">Sair</a>
                        </div>
                    </div>
                    break;
                }
                </div>
            </div>
        </section> 
        
        <!--Fim da Section PERFIL -->
        

        <!--Início da Section Publicações-->

        <section class="publicacoes"> 
            <div class="content">
                <div class="img-pub">
                    <img src="/img/image 1.svg" alt="">
                    <h2>Publicações</h2>
                </div>
                
                @foreach (Publicacao item in ViewBag.Publicacoes){
                
                <div class="publicacao">
                    <div class="imagem-pub">
                            <img src="~/img_publicacao/@item.Imagem" alt="" >
                    </div>
                    
                    <div class="conteudo">
                        <div class="usuario">
                            
                            <img src="/img/@ViewBag.Foto" alt="">

                            <div class="nome-endereco">
                                @foreach (Usuario u in ViewBag.Usuario)
                                {
                                    <p>@u.Nome</p>
                                    break;
                                }
                                <p></p>
                            </div>
                        </div>

                        <div class="curtida">
                            <div class="curtir">
                                <a><img src="/img/Vector.png" alt=""></a>
                                <a href="#"><img src="/img/Vector2.svg" alt=""></a>
                                <p>@ViewBag.Likes curtidas </p>
                            </div>
                        </div>

                        <div class="comentarios">

                            <div class="comentarios-recentes">
                                <div class="comentario">
                                       
                                    @foreach (Usuario user in ViewBag.Usuario)
                                    {
                                        <p><a href="#"> @user.Nome </a> @item.Legenda </p>
                                        break;
                                    }
                                    <a href="#"><img src="/img/Vector.png" alt=""></a>
                                </div>
                                
                                @foreach(Comentario coment in ViewBag.Comentarios){
                                    @foreach (Usuario usu in ViewBag.Usuario)
                                    {   
                                        <div class="comentario">
                                            <p><a href="#">@usu.Username</a>@coment.Mensagem </p>
                                            <a href="#"><img src="/img/Vector.png" alt=""></a>                                        
                                        </div>
                                        break;
                                    }
                                        
                                }
                            </div>
                            
                        </div>                    
                        <a href="#">Ver todos os 580 comentários </a>
                    </div>
                </div>
                <div class="comentar">
                    <form method="POST" action='@Url.Action("Comentar")'>
                        <input type="text" name="comentario" class="input-comentario" placeholder="Escreva um comentário">
                        <button type="submit" style="display: none;"></button>
                    </form>
                </div>
                }
            </div>

        </section>
        <!-- Fim da Section publicações -->
    </main>