<!DOCTYPE html>
@switch (@ViewData["Title"])
{
    case "Cadastrar":
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/style.css">
        <title>@ViewData["Title"] = Cadastrar</title>
    </head>
    <body>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
    </html>
    break;
    

    case "Login":
        <html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - InstaDev_MVC</title>
        <link rel="stylesheet" href="~/css/login.css" />
    </head>
    <body>
        

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - InstaDev_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
    </html>
    break;
    
    
}
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>