<!DOCTYPE html>


<!DOCTYPE html>
@model Usuario

@switch (@ViewData["Title"])
{
    
    case "Cadastrar":
    
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/style.css">
        <title>@ViewData["Title"] = Cadastrar</title>
    </head>
    <body>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
    </html>
    
    break;
    

    
    case "Login":
    
    <html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - InstaDev_MVC</title>
        <link rel="stylesheet" href="~/css/login.css" />
    </head>
    <body>
        
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
    </html>
    
    break;


    default: 
    
    <header class="header-top">
        
        <div class="content-header">
            <div class="logo">
                <a asp-controller="Feed" asp-action="Index"><img src="~/img/Instadev.svg" alt="Logo InstaDev"></a>
            </div>
            <form class="pesquisar">
                <input type="text" name="pesquisa" placeholder="Pesquisar" class="pesquisa">
                <button type="submit"></button>
            </form>
            <nav class="navegacao">
                <ul>
                    <li><a asp-controller="Feed" asp-action="Index"><img src="~/img/Vector-1.png" alt="imagem de uma casa"></a></li>
                    <li><a href="#"><img src="~/img/plane 1.png" alt="imagem de um avião de papel"></a></li>
                    <li><a href="#"><img src="~/img/compass 1.png" alt="imagem de uma bússola"></a></li>
                    <li><a href="#"><img src="~/img/Vector.png" alt="imagem de um coração"></a></li>
                    <li><a asp-controller="Perfil" asp-action="Index"><img src="/img/fotopadrao.jpg" alt="imagem de perfil do usuário"
                    class="imagem-perfil"></a></li>
                </ul>
            </nav>
        </div>

    </header>

    break;
    
}
        
        
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>


<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstaDev_MVC</title>
    <link rel="stylesheet" href="~/css/feed.css" />
</head>

<body>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>